body {
    padding: 10px;
    margin: 0px;
    padding: 0px;
}

.listing-header-container {
    padding-left: 0px;
    padding-top: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #EEEEEE;
}

.listing-content-row-1 {
    margin-top: 15px;
    padding-bottom: 25px;
    border-bottom: 1px solid #EEEEEE;
}

.listing-content-row-2 {
    margin-top: 15px;

}


.green-text {
    color: green;
}

.red-text {
    color: crimson;
}

.char-limiter {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
            line-clamp: 2; 
    -webkit-box-orient: vertical;
    height:45px;
}

.login_message {
    margin-bottom: 15px;
}

.login_footer {
    margin-top: 10px;
}

.login_header {
    margin-bottom: 15px;
}

.listing-header {
    margin-bottom: 35px;
}

.listing-box {
    margin-bottom: 30px;
    background-color: #F8F9FA;
    border: 1px solid #EEEEEE;
}

.listing-img {
    margin-bottom: 15px;
}

.listing-title {
    color: black;
}

.watching-th {
    padding-right: 80px;
    border-bottom: 1px solid #EEEEEE;  
}

.watching-td {

    padding-right: 80px;
}

.button-very-small {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.new-li {
    margin-bottom: 5px;
}

.bid-text {
    font-size: 1.3rem;
}