{% extends 'auctions/layout.html' %}

{% block body %}

{% if user.is_authenticated and listing.active == False and listing.winning_user == user %}
    <h5 class="text-center green-text">Auction closed. You won this item</h5>
{% elif user.is_authenticated and listing.active == False and listing.winning_user %}
    <h5 class="text-center">Auction closed. <b>{{ listing.winning_user }}</b> won this item.</h5>
{% elif error %}
    <h5 class="text-center red-text">{{ error }}</h5>
{% endif %}

<div class="container listing-header-container">
    <div class="row">
        <div class="col-10">
            <h2>{{ listing.title }}</h2>
            {% if listing.active == True %}
            <p> {% if listing.poster == user %}
                Posted by <b>You</b> {{ listing.created }}
                {% else %}
                Posted by <b>{{ listing.poster }}</b> {{ listing.created }} 
                {% endif %}              
                <br>
                <text>Category: <a href="{% url 'category' listing.get_category_display %}">{{ listing.get_category_display }}</a></text>
                <br>
                <text>Status: </text><text class="green-text">Active</text>
            </p>
            {% else %}
            <p> {% if listing.poster == user %}
                Posted by <b>You</b> {{ listing.created }}
                {% else %}
                Posted by <b>{{ listing.poster }}</b> {{ listing.created }} 
                {% endif %} 
                <br>        
                <text>Category: <a href="{% url 'category' listing.get_category_display %}">{{ listing.get_category_display }}</a></text>
                <br>
                <text>Status: </text><text class="red-text">Closed</text>    
            </p>
            {% endif %}
        </div>

        {% if user.is_authenticated %}
        <div class="col-2 float-right">
            <br>
            <br>
            {% if is_following == True %}
                <form action="{% url 'remove_from_watchlist' listing.id %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-primary btn-sm" style="float: right; width: 170px; margin-bottom: 5px;">Remove from Watchlist</button>
                </form>
            {% else %}
                <form action="{% url 'add_to_watchlist' listing.id %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-primary btn-sm" style="float: right; width: 170px; margin-bottom: 5px;">Add to Watchlist</button>
                </form>
            {% endif %}

            {% if user == listing.poster and listing.active == True %}
                <form action="{% url 'close' listing.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-warning btn-sm" style="float: right; width: 170px;">Close Auction</button>
                </form>
            {% elif user == listing.poster %}
                <form action="{% url 'open' listing.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success btn-sm" style="float: right; width: 170px;">Open Auction</button>
                </form>
            {% endif %}
        </div>
        {% endif %}    
    </div>
</div>

<div class="container">
    <div class="row listing-content-row-1">
        <div class="col-5">
            {% if listing.imageUrl == "" %}
            <img src="/static/auctions/empty.jpg" class="img-responsive" width="80%">
            {% else %}
            <img src="{{ listing.imageUrl }}" class="img-responsive" width="80%">
            {% endif %}
        </div>
        <div class="col-3">
            <h5>Description:</h5>
            <p>{{ listing.description }}</p>
        </div>
        <div class="col-4">
            <h5>Comments:</h5>
            {% if comments %}
            <ul>
                {% for comment in comments %}
                    <li><b>{{ comment.commenter }}</b>: {{ comment.comment }}</li>
                {% endfor %}
            </ul>
            {% else %}
            <ul>
                <li>No comments yet</li>
            </ul>
            {% endif %}
        </div>
    </div>

    <div class="row listing-content-row-2">
        <div class="col-8">
            {% if listing.winning_user %}
                <p class="bid-text">
                    {% if listing.winning_user == user %}
                    <b>Leading Bid: €{{ listing.winning_bid }}</b> by <b class="green-text">You</b>
                    {% else %}
                    <b>Leading Bid: €{{ listing.winning_bid }}</b> by <b>{{ listing.winning_user }}</b>
                    {% endif %}

                </p>
                <p> {{ bids | length }} bid(s) so far</p>
            {% else %}
                <p class="bid-text"><b>Starting Bid: €{{ listing.startingBid }}</b></p>
                <p> {{ bids | length }} bid(s) so far</p>
            {% endif %}
        </div>
        {% if listing.active == True and user.is_authenticated %}
            <div class="col-4">
                <form action="{% url 'add_comment' listing.id %}" method="post">
                    {% csrf_token %}
                    <input type="text" name="placed_comment" placeholder="Comment">
                    <button type="submit" class="btn btn-primary btn-sm">Comment</button>
                </form>
            </div>
        {% endif %}
    </div>

    <div class="row listing-content-row-3">
        {% if listing.active == True and user.is_authenticated %}
            <div class="col-3">
                {% if listing.winning_user %}
                    <form action="{% url 'place_bid' listing.id %}" method="post">
                        {% csrf_token %}
                        <input type="number" min="{{ listing.winning_bid }}" placeholder="{{ listing.winning_bid }}" name="placed_bid" style="width:120px">
                        <button type="submit" class="btn btn-primary btn-sm">Place Bid</button>
                    </form>
                {% else %}
                    <form action="{% url 'place_bid' listing.id %}" method="post">
                        {% csrf_token %}
                        <input type="number" min="{{ listing.startingBid }}" placeholder="{{ listing.startingBid }}" name="placed_bid" style="width:120px">
                        <button type="submit" class="btn btn-primary btn-sm">Place Bid</button>
                    </form>
                {% endif %}
            </div>
        {% endif %}
    </div>
</div>

{% endblock %}