{% extends 'auctions/layout.html' %}

{% block body %}

{% if user.is_authenticated and listing.active == False and listing.winning_user == user %}
    <h5 class="text-center green-text">You won this item</h5>
{% elif error %}
    <h5 class="text-center red-text">{{ error }}</h5>
{% endif %}

<div class="container listing-header-container">
    <div class="row">
        <div class="col-lg">
            <h2>{{ listing.title }}</h2>
            {% if listing.active == True %}
            <p>
                Posted by <b>{{ listing.poster }}</b> {{ listing.created }}               
                <br>
                <text>Category: <a href="{% url 'category' listing.get_category_display %}">{{ listing.get_category_display }}</a></text>
                <br>
                <text>Status: </text><text class="green-text">Active</text>
            </p>
            {% else %}
            <p>   
                Posted by <b>{{ listing.poster }}</b> {{ listing.created }} 
                <br>        
                <text>Category: <a href="{% url 'category' listing.get_category_display %}">{{ listing.get_category_display }}</a></text>
                <br>
                <text>Status: </text><text class="red-text">Closed</text>    
            </p>
            {% endif %}
        </div>
        <div class="col-lg">

        </div>
    </div>
</div>

<div class="container">
    <div class="row listing-content-row-1">
        <div class="col-md">
            <img src="{{ listing.imageUrl }}" class="img-responsive" width="80%">
        </div>
        <div class="col-md">
            <h5>Description</h5>
            <p>{{ listing.description }}</p>
        </div>
    </div>
    <div class="row listing-content-row-2">
        <div class="col-sm">
            {% if listing.winning_user %}
                <p>
                    <b>Highest Bid: €{{ listing.winning_bid }}</b> by <b>{{ listing.winning_user }}</b>
                </p>
            {% else %}
                <p><b>Starting Bid: €{{ listing.startingBid }}</b></p>
            {% endif %}
        </div>
        {% if listing.active == True and user.is_authenticated %}
            <div class="col-sm">
                {% if listing.winning_user %}
                    <form action="{% url 'place_bid' listing.id %}" method="post">
                        {% csrf_token %}
                        <input type="number" min="{{ listing.winning_bid }}" placeholder="{{ listing.winning_bid }}" name="placed_bid">
                        <input type="submit" value="Bid">
                    </form>
                {% else %}
                    <form action="{% url 'place_bid' listing.id %}" method="post">
                        {% csrf_token %}
                        <input type="number" min="{{ listing.startingBid }}" placeholder="{{ listing.startingBid }}" name="placed_bid">
                        <input type="submit" value="Bid">
                    </form>
                {% endif %}
            </div>   
        {% else %}
            <div class="col-sm">
                <p></p>
            </div>
        {% endif %}

        {% if is_following == True and user.is_authenticated %}
            <div class="col-lg">
                <form action="{% url 'remove_from_watchlist' listing.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Remove from Watchlist">
                </form>
                {% if user == listing.poster and listing.active == True %}
                    <form action="{% url 'close' listing.id %}" method="post">
                        {% csrf_token %}
                        <input type="submit" value="Close Auction">
                    </form>
                {% elif user == listing.poster %}
                    <form action="{% url 'open' listing.id %}" method="post">
                        {% csrf_token %}
                        <input type="submit" value="Open Auction">
                    </form>
                {% endif %}
            </div>
        {% elif user.is_authenticated %}        
            <div class="col-lg">
                <form action="{% url 'add_to_watchlist' listing.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Add to Watchlist">
                </form>
                {% if user == listing.poster and listing.active == True %}
                    <form action="{% url 'close' listing.id %}" method="post">
                        {% csrf_token %}
                        <input type="submit" value="Close Auction">
                    </form>
                {% elif user == listing.poster %}
                    <form action="{% url 'open' listing.id %}" method="post">
                        {% csrf_token %}
                        <input type="submit" value="Open Auction">
                    </form>
                {% endif %}
            </div>
        {% endif %}

    </div>
    <div class="row listing-content-row-3">
        <div class="col-lg">
            <h5>Comments:</h5>
            {% if comments %}
            <ul>
                {% for comment in comments %}
                    <li><b>{{ comment.commenter }}</b>: {{ comment.comment }}</li>
                {% endfor %}
            </ul>
            {% else %}
            <ul>
                <li>No comments yet</li>
            </ul>
            {% endif %}
        </div>
    </div>
    {% if listing.active == True and user.is_authenticated %}
    <div class="row listing-content-row-4">
        <div class="col-lg">
            <form action="{% url 'add_comment' listing.id %}" method="post">
                {% csrf_token %}
                <input type="text" placeholder="Comment on this listing" name="placed_comment">
                <input type="submit" value="Comment">
            </form>
        </div>
    </div>
    {% endif %}
</div>

<div class="text-center">
    <form action="{% url 'index' %}">
        <button type="submit" class="btn btn-primary">Back</button>
    </form>
</div>

{% endblock %}