{% extends 'auctions/layout.html' %}

{% block body %}

<div class="container">
    <h2 class="listing-header">Auctions you're currently watching: </h2>
    <table>
        <th class="watching-th">
            Listing Title
        </th>
        <th class="watching-th">
            Status
        </th>
        <th class="watching-th">
            Leading Bid by
        </th>
        <th class="watching-th">
            Posted
        </th>
        <th style="border-bottom: 1px solid #EEEEEE;">

        </th>
     
    {% for listing in listings %}
        {% for watcher in listing.watchers.all %}
            {% if watcher == user %}
                <tr>
                    <td class="watching-td"><a href="{% url 'listing_page' listing.id %}">{{ listing }}</a></td>
                    {% if listing.active == True %}
                        <td class="green-text watching-td">Active</td>
                    {% else %}
                        <td class="red-text watching-td">Closed</td>
                    {% endif %}
                    {% if listing.winning_user == user %}
                        <td class="green-text watching-td"><b>You</b></td>
                    {% elif listing.winning_user %}
                        <td class="watching-td"><b>{{ listing.winning_user }}</b></td>
                    {% else %}
                        <td class="watching-td">No bids yet</td>
                    {% endif %}
                    <td class="watching-td">{{ listing.created }}</td>
                    <td>
                        <form action="{% url 'remove_from_watchlist' listing.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary btn-sm button-very-small">Remove</button>
                        </form>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
    {% endfor %}
    </table>    
</div>



{% endblock %}