{% extends 'auctions/layout.html' %}

{% block body %}

<div class="container">
    <h2 class="listing-header">Auctions you're currently watching: </h2>
    <table>
        <th class="watching-th">
            Listing Title
        </th>
        <th class="watching-th">
            Status
        </th>
        <th class="watching-th">
            Winning Bid by
        </th>
    {% for listing in listings %}
        {% for watcher in listing.watchers.all %}
            {% if watcher == user %}
                <tr>
                    <td class="watching-td"><a href="{% url 'listing_page' listing.id %}">{{ listing }}</a></td>
                    {% if listing.active == True %}
                        <td class="green-text watching-td">Active</td>
                    {% else %}
                        <td class="red-text watching-td">Closed</td>
                    {% endif %}
                    {% if listing.winning_user == user %}
                        <td class="green-text watching-td"><b>You</b></td>
                    {% elif listing.winning_user %}
                        <td><b>{{ listing.winning_user }}</b></td>
                    {% else %}
                        <td>No bids yet</td>
                    {% endif %}
                </tr>
            {% endif %}
        {% endfor %}
    {% endfor %}
    </table>    
</div>



{% endblock %}